// SCSS variables
// ---------------------------------------

// Breakpoint sizes in ems. Note: not relative to root font-size.
$break-0: 0;                          // Mobile first yo
$break-1: (640 / 16) * 1em;           // 640px   -  Small tablet up
$break-2: (800 / 16) * 1em;           // 800px   -  Large tablet up
$break-3: (1024 / 16) * 1em;          // 1024px  -  Desktop up
$break-4: (1600 / 16) * 1em;          // 1600px  -  Large desktop up

// Root font-sizes. Set to half desired line-height of body text.
$rootsize-0: 12;                      // 24px line-height body text
$rootsize-1: 14;                      // 28px line-height body text
$rootsize-2: 15;                      // 30px line-height body text
$rootsize-3: 17;                      // 34px line-height body text
$rootsize-4: 18;                      // 36px line-height body text

// Control the line-length with max-width values for the container. Aim for 45-75 characters a line if possible, at smaller sizes type size is more important.
$maxwidth-0: #{500 / $rootsize-0}rem; // 500px wide
$maxwidth-1: #{520 / $rootsize-1}rem; // 520px wide
$maxwidth-2: #{550 / $rootsize-2}rem; // 550px wide
$maxwidth-3: #{620 / $rootsize-3}rem; // 620px wide
$maxwidth-4: #{700 / $rootsize-4}rem; // 700px wide

// Add the typefaces here. A Regular, Italic and Bold weight of a serif & Regular and Bold weight of a sans-serif are recommended to use. Keep the fallbacks if you like.
$serif: "skolar", Georgia, Times, serif;
$sans-serif: "freight-sans-pro", Helvetica, Arial, sans-serif;

// Text colours. British English, there is totally a 'u' in there.
$headingColour: #212121;
$bodyColour: #313131;
$linkColour: #0C89DB;
$hoverColour: #212121;
$white: #FFFFFF;

// Background colours.
$headBackgroundColour: #F8F7F3;
$backgroundColour: #FCFCFC;
$codeBackgroundColour: #002028;
