// Navigation demo styles.
// ---------------------------------------

// responsive-nav.js styles.
.nav-collapse {

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    display: block;
    width: 100%;
  }

  &.opened {
    max-height: 9999px;
  }
}

.js {

  .nav-collapse {
    clip: rect(0 0 0 0);
    display: block;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    zoom: 1;

    @include breakpoint(break-1) {
      max-height: none;
      position: relative;
    }
  }
}

.disable-pointer-events {
  pointer-events: none;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  @include breakpoint(break-1) {
    display: none;
  }
}

// Demo overrides.
.main-nav {
  @include breakpoint(break-1) {
    display: inline-block;
    width: calc(100% - 132px - 2rem);
    vertical-align: middle;
  }

  .main-nav__list {
    border-top: 0.1rem solid darken($white, 15%);

    @include breakpoint(break-1) {
      border: 0;
      background-color: transparent;
      margin-left: 0;
      text-align: right;
      width: 100%;
    }
  }

  li {
    font-family: unquote(map-get($headingtype, font-family));
    font-style: normal;
    font-weight: map-get($headingtype, regular);

    @include fontsize(16, 0);

    a, span {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      border-bottom: 0.1rem solid darken($white, 15%);
      color: $linkColour;
      cursor: pointer;
      display: block;
      padding: 10px 3%;

      &:hover, &:active, &:focus {
        background-color: $linkColour;
        color: $white;
      }
    }

    @include breakpoint(break-1) {
      display: inline-block;
      letter-spacing: 0.1rem;
      margin-right: 2rem;
      padding: 1rem 0;
      text-transform: uppercase;
      width: auto;

      @include fontsize(12, 1);

      a, span {
        border: 0;
        color: $captionColour;
        display: inline;
        padding: 0;

        &:hover, &:active, &:focus {
          background-color: transparent;
          color: $linkColour;
        }
      }
    }

    @include breakpoint(break-2) {
      @include fontsize(12, 2);
    }

    @include breakpoint(break-3) {
      @include fontsize(12, 3);
    }

    @include breakpoint(break-4) {
      @include fontsize(12, 4);
    }
  }
}

.js {

  .nav-collapse {

    @include breakpoint(break-1) {
      display: inline-block;
      max-height: none;
      position: relative;
    }
  }

  .nav-toggle {
    display: block;
    line-height: 0;
    position: absolute;
    right: 3%;
    top: 1.3rem;

    &:after {
      background-image: url(../img/menu.svg);
      background-position: 0 0;
      background-size: 30px 60px;
      content: '';
      display: block;
      height: 30px;
      width: 30px;
    }

    &.active:after {
      background-position: 0 30px;
    }

    @include breakpoint(break-1) {
      display: none;
    }
  }
}
