// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://modularscale.com/scale/?px1=16&px2=28&ra1=1.25&ra2=0
  scale-0: (
    alpha:   28.0,
    beta:    25.0,
    gamma:   22.4,
    delta:   20.0,
    epsilon: 17.9,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Major Third http://modularscale.com/scale/?px1=17&px2=30&ra1=1.25&ra2=0
  scale-1: (
    alpha:   30.0,
    beta:    26.6,
    gamma:   24.0,
    delta:   21.3,
    epsilon: 19.2,
    zeta:    17.0,
    eta:     15.3,
    theta:   13.6,
    iota:    12.8
  ),
  // Major Third http://modularscale.com/scale/?px1=18&px2=32&ra1=1.25&ra2=0
  scale-2: (
    alpha:   32.0,
    beta:    28.1,
    gamma:   25.6,
    delta:   22.5,
    epsilon: 20.5,
    zeta:    18.0,
    eta:     16.3,
    theta:   14.4,
    iota:    13.1
  ),
  // Perfect Fourth http://modularscale.com/scale/?px1=20&px2=40&ra1=1.333&ra2=0
  scale-3: (
    alpha:   40.0,
    beta:    35.5,
    gamma:   30.0,
    delta:   26.7,
    epsilon: 22.5,
    zeta:    20.0,
    eta:     16.9,
    theta:   15.0,
    iota:    12.7
  ),
  // Aug. Fourth http://modularscale.com/scale/?px1=22&px2=50&ra1=1.414&ra2=0
  scale-4: (
    alpha:   50.0,
    beta:    43.9,
    gamma:   35.3,
    delta:   31.1,
    epsilon: 25.0,
    zeta:    22.0,
    eta:     17.6,
    theta:   15.6,
    iota:    12.5
  )
);