/* Typography */
/* --------------------------------------- */

// Setting root sizes and base styles.
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include rootsize-0;
  @include breakpoint(break-1) {
    @include rootsize-1;
  }
  @include breakpoint(break-2) {
    @include rootsize-2;
  }
  @include breakpoint(break-3) {
    @include rootsize-3;
  }
  @include breakpoint(break-4) {
    @include rootsize-4;
  }
}

// Site-wide base styles.
body {
  line-height: 2rem;
  font-family: $serif;
  font-style: normal;
  font-weight: 400;
  @include fontsize-0(zeta);
  @include breakpoint(break-1) {
    @include fontsize-1(17);
  }
  @include breakpoint(break-2) {
    @include fontsize-2(18);
  }
  @include breakpoint(break-3) {
    @include fontsize-3(20);
  }
  @include breakpoint(break-4) {
    @include fontsize-4(22);
  }
}

// Links.
a {
  -webkit-transition: .1s color;
  -moz-transition: .1s color;
  -ms-transition: .1s color;
  -o-transition: .1s color;
  transition: .1s color;
  color: $linkColour;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $hoverColour;
    text-decoration: none;
  }
}

// Styles for typeset text.
.typeset {

  // Nice underlines for text links.
  p a, li a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0)),to(lighten($linkColour,30%)));
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 50%,lighten($linkColour,30%) 50%);
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($linkColour,30%) 50%);
    background-repeat: repeat-x;
    -webkit-background-size: 2px 2px;
    background-size: 2px 2px;
    background-position: 0 90%;
    text-shadow: 1px 0 #FFF,2px 0 #FFF,-1px 0 #FFF,-2px 0 #FFF;
    &:hover, &:active, &:focus {
      background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0)),to(lighten($hoverColour,30%)));
      background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 50%,lighten($hoverColour,30%) 50%);
      background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($hoverColour,30%) 50%);
    }
  }

  // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
  p {
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-bottom: 2rem;
  }

  // Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
  h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: $headingColour;
    font-family: $sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  // Heading level 1.
  h1, .alpha {
    padding-top: 1rem;
    line-height: 2.5rem;
    @include fontsize-0(28);
    @include breakpoint(break-1) {
      @include fontsize-1(30);
    }
    @include breakpoint(break-2) {
      @include fontsize-2(32);
    }
    @include breakpoint(break-3) {
      @include fontsize-3(40);
    }
    @include breakpoint(break-4) {
      @include fontsize-4(46);
    }
  }

  // Heading level 2.
  h2, .beta {
    padding-top: 1rem;
    line-height: 2.5rem;
    @include fontsize-0(22);
    @include breakpoint(break-1) {
      @include fontsize-1(24);
    }
    @include breakpoint(break-2) {
      @include fontsize-2(26);
    }
    @include breakpoint(break-3) {
      @include fontsize-3(32);
    }
    @include breakpoint(break-4) {
      @include fontsize-4(36);
    }
  }

  // Heading level 3.
  h3, .gamma {
    padding-top: 1rem;
    @include fontsize-0(20);
    @include breakpoint(break-1) {
      @include fontsize-1(22);
    }
    @include breakpoint(break-2) {
      @include fontsize-2(24);
    }
    @include breakpoint(break-3) {
      @include fontsize-3(28);
    }
    @include breakpoint(break-4) {
      @include fontsize-4(30);
    }
  }

  // Heading level 4.
  h4, .delta {
    padding-top: 1rem;
    @include fontsize-0(18);
    @include breakpoint(break-1) {
      @include fontsize-1(20);
    }
    @include breakpoint(break-2) {
      @include fontsize-2(22);
    }
    @include breakpoint(break-3) {
      @include fontsize-3(26);
    }
    @include breakpoint(break-4) {
      @include fontsize-4(28);
    }
  }

  // Heading level 5.
  h5, .epsilon {
    padding-top: 1rem;
    @include fontsize-0(17);
    @include breakpoint(break-1) {
      @include fontsize-1(19);
    }
    @include breakpoint(break-2) {
      @include fontsize-2(21);
    }
    @include breakpoint(break-3) {
      @include fontsize-3(24);
    }
    @include breakpoint(break-4) {
      @include fontsize-4(26);
    }
  }

  // Heading level 6.
  h6, .zeta {
    padding-top: 1rem;
  }

  // Nice spacing after high level headings and images. Text sits directly below h4, h5 and h6.
  h1 + p, h1 + ol, h1 + ul, h1 + blockquote p, h1 + pre,
  .alpha + p, .alpha + ol, .alpha + ul, .alpha + blockquote p, .alpha + pre,
  h2 + p, h2 + ol, h2 + ul, h2 + blockquote p, h2 + pre,
  .beta + p, .beta + ol, .beta + ul, .beta + blockquote p, .beta + pre,
  img + p, img + ol, img + ul, img + blockquote p, img + pre {
    margin-top: 2rem;
  }

  // Remove padding-top from first heading
  section > .container > :first-child {
    padding-top: 0;
  }

  // Lists.
  ul, ol {
    margin-bottom: 2rem;
    li {
      -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      margin-left: 2rem;
      @include breakpoint(break-1) {
        margin-left: 0;
      }
      a {
        color: $hoverColour;
        &:hover, &:active, &:focus {
          color: $linkColour;
        }
      }
    }
  }

  // Bold.
  b, strong, .bold {
    font-weight: 700;
  }

  // Italic.
  em, i, .italic {
    font-style: italic;
  }

  // Caption or inline small text.
  small, .caption {
    color: $captionColour;
    font-family: $sans-serif;
    @include fontsize-0(12);
    @include breakpoint(break-1) {
      @include fontsize-1(14);
    }
    @include breakpoint(break-2) {
      @include fontsize-2(16);
    }
    @include breakpoint(break-3) {
      @include fontsize-3(17);
    }
    @include breakpoint(break-4) {
      @include fontsize-4(18);
    }
  }

  // Nice spacing for captions.
  h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption, img + .caption {
    margin-top: 0;
  }

  // Quotes.
  blockquote {
    p {
      font-style: italic;
      padding-left: 1rem;
      border-left: 0.1rem solid $linkColour;
      @include breakpoint(break-1) {
        padding-left: 2rem;
      }
    }
  }

  // Horizontal rule.
  hr {
    color: darken($backgroundColour,20%);
    background-color: darken($backgroundColour,20%);
    border: 0;
    border-bottom: 1px solid darken($backgroundColour,20%);
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  // Code block.
  code, pre {
    background-color: $codeBackgroundColour;
    color: $white;
    font-family: Menlo, Monaco, "Courier New", monospace;
  }

  pre {
    border-radius: 0.5rem;
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  code {
    @include fontsize-0(12);
    @include breakpoint(break-1) {
      @include fontsize-1(14);
    }
    @include breakpoint(break-2) {
      @include fontsize-2(16);
    }
    @include breakpoint(break-3) {
      @include fontsize-3(17);
    }
    @include breakpoint(break-4) {
      @include fontsize-4(18);
    }
  }

  // Letter space those capitals people, Jan Tschichold would be proud.
  .upper {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  // Real small caps.
  .small-caps {
    -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
    -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
    -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
    -o-font-feature-settings: 'smcp' 1, 'kern' 1;
    font-feature-settings: 'smcp' 1, 'kern' 1;
    letter-spacing: 0.1rem;
  }

  // Consistent height numbers with OpenType.
  .lining-numerals {
    -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
    -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'lnum' 1, 'kern' 1;
    font-feature-settings: 'lnum' 1, 'kern' 1;
  }

  // Ascending and descending numbers with OpenType.
  .oldstyle-numerals {
    -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'onum' 1, 'kern' 1;
    -ms-font-feature-settings: 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'onum' 1, 'kern' 1;
    font-feature-settings: 'onum' 1, 'kern' 1;
  }

}