/* Typography */
/* --------------------------------------- */

// Setting root sizes and base styles.
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include rootsize;
}

// Site-wide base styles.
body {
  line-height: 2rem;
  font-family: $serif;
  font-style: normal;
  font-weight: 400;
  @include fontsize(zeta, all);
}

// Links.
a {
  -webkit-transition: .1s color;
  -moz-transition: .1s color;
  -ms-transition: .1s color;
  -o-transition: .1s color;
  transition: .1s color;
  color: $linkColour;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $hoverColour;
    text-decoration: none;
  }
}

// Styles for typeset text.
.typeset {

  // Nice underlines for text links.
  p a, li a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0)),to(lighten($linkColour,30%)));
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 50%,lighten($linkColour,30%) 50%);
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($linkColour,30%) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 90%;
    text-shadow: 1px 0 #FFF,2px 0 #FFF,-1px 0 #FFF,-2px 0 #FFF;
    &:hover, &:active, &:focus {
      background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0)),to(lighten($hoverColour,30%)));
      background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 50%,lighten($hoverColour,30%) 50%);
      background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($hoverColour,30%) 50%);
    }
  }

  // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
  p {
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-bottom: calc(2rem - #{22 * (1.636363636 - $serifcap) / 2}px);
    padding-top: #{22 * (1.636363636 - $serifcap) / 2}px;
  }

  // Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
  h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: $headingColour;
    font-family: $sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  // Heading level 1.
  h1, .alpha {
    line-height: 3rem;
    @include fontsize(alpha, all);
    margin-bottom: calc(1rem - #{50 * (1.08 - $sanscap) / 2}px);
    padding-top: #{50 * (1.08 - $sanscap) / 2}px;
  }

  // Heading level 2.
  h2, .beta {
    line-height: 3rem;
    @include fontsize(beta, all);
    margin-bottom: calc(1rem - #{44 * (1.227272727 - $sanscap) / 2}px);
    padding-top: #{44 * (1.227272727 - $sanscap) / 2}px;
  }

  // Heading level 3.
  h3, .gamma {
    line-height: 3rem;
    @include fontsize(gamma, all);
    margin-bottom: calc(1rem - #{35 * (1.542857143 - $sanscap) / 2}px);
    padding-top: #{35 * (1.542857143 - $sanscap) / 2}px;
  }

  // Heading level 4.
  h4, .delta {
    @include fontsize(delta, all);
    margin-bottom: -#{31 * (1.161290323 - $sanscap) / 2}px;
    padding-top: #{31 * (1.161290323 - $sanscap) / 2}px;
  }

  // Heading level 5.
  h5, .epsilon {
    @include fontsize(epsilon, all);
    margin-bottom: -#{25 * (1.44 - $sanscap) / 2}px;
    padding-top: #{25 * (1.44 - $sanscap) / 2}px;
  }

  // Heading level 6.
  h6, .zeta {
    margin-bottom: -#{22 * (1.636363636 - $sanscap) / 2}px;
    padding-top: #{22 * (1.636363636 - $sanscap) / 2}px;
  }

  // Lists.
  ul, ol {
    margin-bottom: calc(2rem - #{22 * (1.636363636 - $serifcap) / 2}px);
    padding-top: #{22 * (1.636363636 - $serifcap) / 2}px;
    li {
      -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
      margin-left: 2rem;
      @include breakpoint(break-1) {
        margin-left: 0;
      }
      a {
        color: $hoverColour;
        &:hover, &:active, &:focus {
          color: $linkColour;
        }
      }
    }
  }

  // Bold.
  b, strong, .bold {
    font-weight: 700;
  }

  // Italic.
  em, i, .italic {
    font-style: italic;
  }

  // Caption and inline small text.
  small, .caption {
    font-family: $sans-serif;
    @include fontsize(theta, all);
  }

  .caption {
    color: $captionColour;
    padding-top: #{16 * (2.25 - $serifcap) / 2}px;
    margin-bottom: calc(2rem - #{16 * (2.25 - $serifcap) / 2}px);
  }

  // Nice spacing for captions.
  h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
    margin-top: -1rem;
  }

  // Quotes.
  blockquote {
    p {
      font-style: italic;
      padding-left: 1rem;
      border-left: 0.1rem solid $linkColour;
      margin-bottom: calc(3rem - #{22 * (1.636363636 - $serifcap)}px);
      padding-bottom: #{22 * (1.636363636 - $serifcap) / 2}px;
    }
    @include breakpoint(break-1) {
      margin-left: -1rem;
    }
  }

  // Horizontal rule.
  hr {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0)),to(darken($backgroundColour,20%)));
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 50%,darken($backgroundColour,20%) 50%);
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,darken($backgroundColour,20%) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 50%;
    border: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0;
  }

  // Code block.
  code, pre {
    background-color: $codeBackgroundColour;
    color: $white;
    font-family: Menlo, Monaco, "Courier New", monospace;
  }

  pre {
    border-radius: 0.3rem;
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 2rem;
    padding: 1rem calc(1rem + #{16 * (1.125 - $monocap)}px);
  }

  code {
    @include fontsize(theta, all);
  }

  pre code {
    line-height: 1rem;
  }

  // Letter space those capitals people, Jan Tschichold would be proud.
  .upper {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  // Real small caps.
  .small-caps {
    -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
    -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
    -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
    -o-font-feature-settings: 'smcp' 1, 'kern' 1;
    font-feature-settings: 'smcp' 1, 'kern' 1;
    letter-spacing: 0.1rem;
  }

  // Consistent height numbers with OpenType.
  .lining-numerals {
    -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
    -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'lnum' 1, 'kern' 1;
    font-feature-settings: 'lnum' 1, 'kern' 1;
  }

  // Ascending and descending numbers with OpenType.
  .oldstyle-numerals {
    -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'onum' 1, 'kern' 1;
    -ms-font-feature-settings: 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'onum' 1, 'kern' 1;
    font-feature-settings: 'onum' 1, 'kern' 1;
  }

}